:root {
	--gray: #d4d2d5; /* black */
	/* --space: #25283d; */ /* white */
	--space: #0e0e0e; /* white */
	--lime: #c3f73a; /* black */
	--pink: #d12335; /* white or black (maybe?) */
}

html,
body {
	padding: 0;
	margin: 0;
	letter-spacing: 0.5px;
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: var(--space);
	color: var(--gray);
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--lime);
}

button {
	background-color: var(--lime);
	color: var(--space);
	border: none;
	border-radius: 3px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: all;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	border: 2px solid var(--lime);
	font-size: 1rem;
}

button:hover {
	background-color: var(--space);
	color: var(--lime);
	border: 2px solid var(--lime);
}

/* * {
	box-sizing: border-box;
}
 */
