.container {
	padding: 1rem 1rem;
}

.infoText {
	font-style: italic;
}

.listingWrapper {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-gap: 1rem;
	margin-top: 1rem;

	/* Small Screen */
	@media screen and (min-width: 640px) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	/* Medium Screen */
	@media screen and (min-width: 768px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	/* Large Screen */
	@media screen and (min-width: 1024px) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

.listing {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 2px solid var(--lime);
	align-items: center;
	cursor: pointer;
	padding: 1rem 1rem;
	border-radius: 5px;
	background-color: var(--space);
	color: var(--gray);
	transition: all;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	user-select: none;
}

.listing:hover {
	transform: scale(1.05);
	color: var(--space);
	background-color: var(--lime);
}

.listing:hover h2 {
	color: var(--space);
}

.listing:hover span {
	color: var(--space);
}

.listing:hover .listingTypeWrapper {
	color: var(--gray);
	background-color: var(--space);
}

.mediaWrapper {
	display: flex;
	flex: 1;
	align-items: center;
}

.media {
	width: 13rem;
}

.infoWrapper {
	padding-top: 0.25rem;
}

.heading {
	font-weight: 600;
}

.description {
	font-size: small;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.selected {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 2px solid var(--space);
	align-items: center;
	cursor: pointer;
	padding: 1rem 1rem;
	border-radius: 5px;
	color: var(--space);
	background-color: var(--lime);
	user-select: none;
}

.selected h2 {
	color: var(--space);
}

.formWrapper {
	margin: 3rem 0;
	width: 30%;
}

.form {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-gap: 0.7rem;
	padding-bottom: 1rem;
}

.radio {
	appearance: none;
	background-color: transparent;
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 50%;
	display: grid;
	place-content: center;
	outline: none;
}

.radio::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--lime);
}

.radio:checked::before {
	transform: scale(1);
}

.label {
	font-size: large;
	font-weight: 600;
	color: var(--lime);
}

.inputField {
	vertical-align: middle;
	width: 50%;
}

.inputField input {
	/* background-color: var(--space); */
	background-color: transparent;
	color: var(--lime);
	box-sizing: border-box;
	border: 2.5px solid #fff;
	width: 100%;
	border-radius: 3px;
	padding: 0.2rem 0.5rem;
	font-weight: 600;
}

.inputField input:focus {
	outline: none;
	border: 2.5px solid var(--lime);
	background-color: var(--space);
}
